
.idea/

lib/__pycache__/

apex_test_train.py

config/case_notes.txt

model/__pycache__/

view/__pycache__/

staging/package_body/

staging/package_spec/

controller/example.csv

staging/view/countries_v.sql

staging/view/job_history_v.sql

staging/view/jobs_v.sql

staging/view/locations_v.sql

staging/view/regions_v.sql

OraTAPI.csv

staging/trigger/countries_biu.sql

staging/trigger/departments_biu.sql

staging/trigger/job_history_biu.sql

staging/trigger/jobs_biu.sql

staging/trigger/locations_biu.sql

staging/trigger/regions_biu.sql

*.sql

OraTAPI.egg-info/
