# Include license and readme
include LICENSE
include README.md

# Include configuration and script files
include requirements.txt
include pyproject.toml
include setup.ps1
include setup.sh
include resources/config/*.ini.sample
include resources/templates/**/*.sample


# Include .sample files only
recursive-include resources *.sample

# Exclude .tpt files
exclude resources/**/*.tpt
exclude resources/**/*.ini

# Include Python source files
recursive-include src *.py

# Include bin directory files
include bin/*.*

# Exclude all compiled files and caches
global-exclude __pycache__
global-exclude *.py[cod]

# Exclude the development OraTAPI.ini
exclude resources/config/OraTAPI.ini

# Exclude the development pi_columns.csv
exclude resources/config/pi_columns.csv

recursive-exclude resources/templates *.tpt
