# Include all shell scripts in the root and subdirectories
include *.sh
recursive-include bin *.sh

# Include all `.tpt` and `.tpt.sample` files in the templates directory and subdirectories
recursive-include templates *.tpt *.tpt.sample

# Include configuration files
include config/*.ini
include config/*.ini.sample

# Include README and license files
include LICENSE
include README.md


