build==1.2.2.post1
bump2version==1.0.1
cffi==1.17.1
cryptography==43.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
oracledb==2.5.0
-e git+https://github.com/avalon60/OraTAPI.git@dc19b10c6979c192c1832f6e514ec3310c3a70c4#egg=OraTAPI
packaging==24.2
pycparser==2.22
Pygments==2.18.0
pyproject_hooks==1.2.0
rich==13.9.4
setuptools-scm==8.1.0
tomli==2.2.1
typing_extensions==4.12.2
