beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "3.14"
bs4==0.0.2 ; python_version >= "3.10" and python_version < "3.14"
certifi==2026.2.25 ; python_version >= "3.10" and python_version < "3.14"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.7 ; python_version >= "3.10" and python_version < "3.14"
configobj==5.0.9 ; python_version >= "3.10" and python_version < "3.14"
cryptography==46.0.7 ; python_version >= "3.10" and python_version < "3.14"
idna==3.11 ; python_version >= "3.10" and python_version < "3.14"
markdown-it-py==4.0.0 ; python_version >= "3.10" and python_version < "3.14"
markdown==3.7 ; python_version >= "3.10" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.14"
oracledb==3.4.2 ; python_version >= "3.10" and python_version < "3.14"
packaging==26.0 ; python_version >= "3.10" and python_version < "3.14"
pycparser==3.0 ; python_version >= "3.10" and python_version < "3.14"
pygments==2.20.0 ; python_version >= "3.10" and python_version < "3.14"
requests==2.33.1 ; python_version >= "3.10" and python_version < "3.14"
rich==14.3.3 ; python_version >= "3.10" and python_version < "3.14"
soupsieve==2.6 ; python_version >= "3.10" and python_version < "3.14"
tomli==2.4.1 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "3.14"
